/* Reset default styles and apply base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

/* Center content within a container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Style for product cards */
.card {
  border: 1px solid #ddd;
  background-color: #fff;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.25rem;
  margin: 0;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

/* Heading styles */
h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-left: 20px;
}

/* Product list display */
#product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Form for adding products */
#addProductForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

/* Input and button styles */
#addProductForm input[type="text"],
#addProductForm input[type="number"],
#addProductForm input[type="file"],
#email-input,
#message-input,
#send-button,
#addProductForm button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

/* Focus styles for input fields */
#addProductForm input:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* List of products */
#productList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#productList li {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 14px;
}

/* Button styles */
.btn,
#addProductForm button, #send-button {
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

/* Positioning of buttons */
.btn {
  margin-left: 20px;
}

/* Button hover effect */
.btn:hover {
  background-color: #555;
}

/* Custom file input styles */
.custom-file-input-container {
  margin: 0.4rem 0;
}

.custom-file-input {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
}

/* Hover effect for custom file input */
.custom-file-input:hover {
  background-color: #555;
}

/* Hide default file input */
#thumbnailsInput {
  display: none;
}

.message-card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-card p {
  margin: 0;
}

/* Estilos para el nombre del usuario */
.message-card strong {
  color: #333;
}

#chat-container{
  margin: 10px 20px;
}