<h1>Welcome to the Home Page</h1>
<a href="/api/products/realtimeproducts" class="btn btn-primary">Real-time Products</a>
<a href="/api/chat" class="btn btn-primary">Chat</a>
<h2>All Products</h2>
<div id="product-list">
    {{#each products}}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">Price: ${{this.price}}</p>
        </div>
    </div>
    {{/each}}
</div>